
/*---------------------- slider tuto----------------------------*/
                .jssora051 {display:block;position:absolute;cursor:pointer;}
                .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
                .jssora051:hover {opacity:.8;}
                .jssora051.jssora051dn {opacity:.5;}
                .jssora051.jssora051ds {opacity:.3;pointer-events:none;}

                .jssorb031 {position:absolute;}
                .jssorb031 .i {position:absolute;cursor:pointer;}
                .jssorb031 .i .b {fill:#000;fill-opacity:0.5;stroke:#fff;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.3;}
                .jssorb031 .i:hover .b {fill:#fff;fill-opacity:.7;stroke:#000;stroke-opacity:.5;}
                .jssorb031 .iav .b {fill:#fff;stroke:#000;fill-opacity:1;}
                .jssorb031 .i.idn {opacity:.3;}
/*---------------------- fin slider tuto-----------------------*/


/*---------------- tutorilas 3-------------------------*/
.sliderTuText {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
.sliderTuText .container .row .col-md-12 .slide .carousel-inner .item blockquote{margin-bottom: 0px!important;
padding: 0px 0px!important;}


.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 450px;
    padding-top: 50px;
}

.bg-no-overlay {
    background: url("https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 450px;
    padding-top: 50px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 0px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
	  

/*----------------------------------------------------*/

.buttonTuto button {margin: 0 20px 0px 20px!important;}

@media screen and (max-width: 400px){

	.buttonTuto button {margin: 0 20px 10px 20px!important;}
	.slide1Tuto { text-align: center!important;}
}

@media screen and (min-width: 400px){

	.modal-body img {
		width: 100%;
	}
}  
@media (min-width: 300px) and (max-width: 400px) {
	.modal-dialog {
		width: 90%;
	}

	.modal-body img {
		width: 100%;
	}
}


@media (max-width: 546px) {
.RegPocket {
padding-right: 0px;
padding-left: 0px;}
}

@media (max-width: 546px) {
.RegPocket {
padding: 0px;}
}

@media (max-width: 420px) {
.Tupo {
margin-right: -15px;
margin-left: -15px;	
	}
}

.modal-body progress[value] {
	width: 100%;
	border: none;
	border-radius: 10px;
	color: #2f0033;
}

.modal-body progress::-webkit-progress-bar {
    border: 0;
    border-radius: 10px;
    background-color: #DDDDDD;
    color: #2f0033;
}
.modal-body progress::-webkit-progress-value {
    border: 0;
    border-radius: 10px;
    color: #2f0033;
}
.modal-body progress::-moz-progress-bar {
    border: 0;
    border-radius: 10px;
}