
table {
  background-color: white;
}
.table th {
  font-size: 14px;
  text-align: center;
}
.table td {
  font-size: 14px;
  text-align: center;
}

/*.panel-title{
  background-color: #330033;
  color:white;
}*/

.panel-title > a{
  text-decoration: none;
  color: #606060;
}

.panel-group {
  overflow: hidden;
}

.panel-group .panel{
  border-radius: 8px;
}

.social-widget {
  color: white;
  text-align: center;
  height: 120px;
  padding-top: 14px;
  background: #330033;
}

.fa fa-glass{
  width: 40px;
}
.social-widget .social-data h1 {
  font-weight: 50;
  font-size: 40px;
}

.social-widget > a{
  color:white;
}

.p{
  text-align : justify;
}

#tablaProductos{
  border-collapse: collapse;
}

#botonEnviar {
  background-color: #330033;
  float: right;
}

#botonAtras {
  background-color: #330033;
  width: 100px;
  margin-bottom: 30px;
}
