
table {
  background-color: white;
}
.table th {
  font-size: 14px;
  text-align: center;
}
.table td {
  font-size: 14px;
  text-align: center;
}

/*.panel-title{
  background-color: #330033;
  color:white;
}*/

.panel-title > a{
  text-decoration: none;
  color: #606060;
}

.panel-group {
  overflow: hidden;
}

.panel-group .panel{
  border-radius: 8px;
}

.social-widget {
  height: 120px;
  padding-top: 14px;
  background: white;
}

.social-data{
  padding-top: 15px;
  vertical-align: middle;
  color: rgb(143,143,143);
}

.social-widget .social-data h1 {
  color: rgb(143,143,143);
  font-weight: 300;
  font-size: 40px;
  text-align: center;
}

.social-widget > a{
  color: rgb(143,143,143);
}

.p{
  text-align : justify;
}

#tablaProductos{
  border-collapse: collapse;
}

#botonEnviar {
  background-color: #330033;
  float: right;
}

#botonAtras {
  background-color: #330033;
  width: 100px;
  margin-bottom: 30px;
}
